body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #282828;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #383838;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.login-container h2 {
    margin-top: 0;
    text-align: center;
    color: #10BB01;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: #555;
    color: #fff;
}

.button {
    background-color: #10BB01;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #0a8901;
}

.toggle-form {
    text-align: center;
    color: #fff;
}

.toggle-form a {
    color: #10BB01;
    text-decoration: none;
    font-weight: bold;
}

.toggle-form a:hover {
    text-decoration: underline;
}

/* Adicionando animações para fadeIn e fadeOut */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Aplicando animações aos formulários */
.form-active {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.form-hidden {
    display: none;
}
