nav {
    display: flex;
    width: 100%;
    position: fixed;
    flex-direction: row;
    background-color: #383838;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px 0 20px 0;
    margin-top: -95px;
    margin-bottom: 5px;
}

nav span {
    font-size: 0px;
    margin-left: 2%;
    color: white;
    transition: transform 0.25s;
    font-size: 30px;
    cursor: pointer;
}


nav img {
    height: 50px;
}

nav > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav a {
    font-family: "Kanit";
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 30px;
}

nav a:last-child {
    height: 20px;
    background-color: #10BB01;
    padding: 4px 22px 7px 22px;
    border-radius: 6px;
    box-shadow: #0000004d 0px 4px 3px 0px;
}
